<head>
    <meta charset=UTF-8>
    <title>Dado usando Flexbox</title>
</head>
<body>
    <section class="content">
        <article class="left">
            <article class="menu-layout">
                {{menu-master}}
            </article>
        </article>
        <article class="right">
            <article class="title">
               <!-- {{header-title}} -->
               <h1>Web Page</h1>
            </article>
            <article>
                {{outlet}}
            </article>
        </article>

    </section>
</body>



